/* Speech class for spoken text */
.speech {
    font-family: Arial, sans-serif; font-size: 16px; color: black; }
  
  /* Direction class for non-spoken directions */
  .direction  { font-family: Times New Roman, serif; font-size: 14px; color: black; 
    background-color: #9f7f99; /* Light background color for directions */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
  }
  
  /* Hover effect for the direction class */
  .direction:hover { background-color: #77b0b9; /* Change background color on hover */
    color: rgb(98, 114, 33); /* Change text color on hover */
  }

  /* Character-specific styles */
.Hovstad {
    color: #3366cc; /* Specify a color for Hovstad name */
  }
  
  .Billing {
    color: #ff9900; /* Specify a color for Billing name */
  }
  
  .Stockmann {
    color: #459620; /* Specify a color for Dr.Stockmann. name */
  }

  .Aslaksen {
    color: #9d0b1f; /* Specify a color for Dr.Stockmann. name */
  }

  /* Style for the character table */
.character-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .character-table th, .character-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .character-table th {
    background-color: #333;
    color: white;
  }
  
  .character-table tbody tr:nth-child(odd) {
    background-color: #8477af1e; /* Row stripes for odd rows */
  }
  
  .character-table tbody tr:hover {
    background-color: #4591b7; /* Highlight on hover */
  }
  
  .Peter {
    color: #14c5b0dc; /* Specify a color for Dr.Stockmann. name */
  }

  .name:hover { background-color: #77b9b2; /* Change background color on hover */
        color: rgb(114, 69, 33); /* Change text color on hover */
  }

  /* Style for the horizontal navbar */
.navbar {
    background-color: #333; /* Background color for the navbar */
    text-align: center;
    padding: 10px 0; /* Add spacing around the icons */
  }
  
  .navbar a {
    display: inline-block;
    margin: 0 20px; /* Add spacing between icons */
    text-decoration: none;
    color: #fff; /* Text color for the links */
  }
  
  .navbar a img {
    width: 40px; /* Adjust the width of the icons as needed */
    height: 40px; /* Adjust the height of the icons as needed */
  }